#root {
 height: 100vh;
 width: 100vw;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: goldenrod;
}

<<<<<<< HEAD
.backgroundTeacher {
  background-color: pink; 
}
=======
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
>>>>>>> Create-Server-Node-Express-Socket

.toolsContainerOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.toolsContainerClose {
  display: none;
};
