.toolsContainer {
  min-height: 93.3vh;
  background-color: #242a3d;
}

.messagesContainer {
  flex: 1;
  width: 100%;
  min-height: 80vh;
  overflow: auto;
}

.messagesList {
  list-style-type: none;
  padding: 0;
}

.inputBlock {
  display: flex;
  flex-direction: row;
}

.inputMessage {
  height: 12vh;
  width: 100%;
  font-size: 12px;
  resize: none;
}

.sendMessage {
  font-size: 15px;
  font-weight: 600;
  color: white;
  background: #31a24c;
  border: none;
}

.messages-container, .inputMessage, .sendMessage {
  border-color: #9a9a9a;
}

.message-item {
  width: 60%;
  padding: 12px 8px;
  margin-top: 3%;
  word-break: break-word;
  
}

.my-message {
  background-color: #ecefe6;
  padding-right: 10%;
  text-align: right;
  margin-left: auto;
  color: #5C657F;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.receive-message {
  background-color: #5C657F;
  margin-right: auto;
  color: #ecefe6;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
