.registerContainer {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
}

.register_mainContainer {
  background-color: white;
  border: double 8px #cccccc;
  height: 80%;
  width: 40%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.multipleChoice {
  display: flex;
  justify-content: space-around;
}

.choice {
  margin: 0 1vw 2vh 1vw; 
}

.input_registerButton {
  background-color: #4ea55b;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1vh;
  justify-content: center;
  border-radius: 10px;
  border: none;
  color: whitesmoke;
  padding: 1vh 2vw;
}