.generalContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 92vh;
}

.roomBlock {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.actionsContainer {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.room-mainBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}