.waitingContainer {
  display: flex;
  align-items: center;
  background-color: rgb(212, 195, 170);
  margin-bottom: 25px;
  width: 100%;
}

.waitingQueueList {
  list-style-type: none;
  padding: 0;
}

.waitIcon {
  font-size: 50px;
  margin-right: 40px;
  margin-left: 40px;
}

.topContainerQueueOn, .topContainerQueueOff {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 33px;
  border-radius: 12px;
}

.topContainerQueueOn {
  background-color: #5B6D9F;
  padding: 10px;
}

.topContainerQueueOff {
  background-color: red;
  padding: 10px;
}

.askTalking {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 4px 30px;
}

.askTalking:focus {
  outline: none;
}