.WaitingQueue {
  height: 90%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  color: #ecefe6;
}

.WaitingLi {
  display: flex;
  justify-content: flex-end;
}

.waitingContainer {
  display: flex;
  align-items: center;
  background-color: rgb(212, 195, 170);
  margin-bottom: 25px;
  width: 80%;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.waitingQueueList {
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
}

.waitIcon {
  font-size: 50px;
  margin-right: 40px;
  margin-left: 40px;
}

.topContainerQueueOn, .topContainerQueueOff {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.askTalking, .cancelTalking {
  height: 50px;
  background-color: #5b6d9f;
  border-radius: 16px;
  width: 75%;
  color: #ecefe6;
  font-size: 20px;
  border: solid 1px #5b6d9f;
}

.askTalking:focus, .cancelTalking:focus {
  outline: none;
}

.askTalking:hover {
  background-color: #ecefe6;
  color: #5b6d9f;
  cursor: pointer;
}

.cancelTalking:hover {
  background-color: #ecefe6;
  color: #5b6d9f;
  cursor: pointer;
}
.FingerIcon {
  margin-right: 10px;
}
