.container1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.myId2 {
	display: none;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.videoContainer {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 5rem;
}
.second-screen {
	width: 50vw;
	height: 50vh;
}

.second-webcam {
	display: none;
}

.video {
	display: flex;
	align-items: center;
	justify-content: center;
}

.webcam-full {
	width: 50%;
}

.webcam-resize {
	width: 40%;
	padding: 2vw;
	justify-content: start;
}

.caller {
	text-align: center;
	color: #000
}

body {
	background: #4776e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#8e54e9,
		#4776e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}