

.mainContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: crimson;
}

.leftColumn {
  background-image: url("../pictures/casimir.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.rightColumn {
  background-color: rgb(61, 43, 226);
  display: flex;
  flex-direction: column;
  flex : 1;
  height: 100%;
}

.navToolsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #eeecec;
}

.toolsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: white;
    align-items: center;
}

.linkTest {
  padding: 20px 12%;
  color: black;
}