.menuContainer {
  background-color: #ffffff;
  transition: width 0.5s;
}

.menuBar {
  display: flex;
  width: 100%;
}

.menuBarOpen {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 8px 6px -5px #bbbdbe;
}
.menuBarClose {
  flex-direction: column;
}

.closedContainer {
  display: flex;
  justify-content: center;
  width: 4vw;
}

.openedContainer {
  width: 30vw;
}

.closedNavbar {
  display: flex;
  flex-direction: column;
}

.buttonBarContainer {
  border: none;
  background: none;
  width: 100%;
}
.buttonBarContainerOpen {
  padding: 1.2vh;
  border-bottom: 5px solid #ffffff;
}

.buttonBarContainerClose {
  padding: 3vh 0;
}

.buttonBarContainerClose:hover {
  border-left: 5px solid #4ea75c;
}

.buttonBarContainerOpen:hover {
  border-bottom: 5px solid #4ea75c;
}

.buttonBarIcon {
  color: #4ea75c;
}

.ongletContainer {
  height: 100%;
}