.ParticipantsItem {
  display: flex;
  justify-content: flex-end;
}

.ParticipantContainer {
  display: flex;
  align-items: center;
  background-color: rgb(212, 195, 170);
  margin-bottom: 25px;
  width: 80%;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.ParticipantIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  width: 20%;
  height: 100%;
}

.ParticipantText {
  width: 75%;
  text-align: right;
}

.ParticipantText h3 {
  margin-bottom: 0.3em;
}

.ParticipantText p {
    margin-top: 0;
}

.Student {
    background-color: #667293;
    color: #ecefe6;
}

.Teacher {
    background-color: #ecefe6;
    color: #667293;
}
